<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<config>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules_component"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_imprint"
			section="component"
		/>
		<!-- TODO: Try to text code with new installation of component -->
		<field
			name="rules_imprint"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_imprint"
			section="imprint"
		/>
		<field
			name="rules_remark"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_imprint"
			section="remark"
		/>
	</fieldset>
</config>