<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<!-- example: com_contact -->
<config>
	<fieldset
		name="settings"
		label="COM_IMPRINT_OPTIONS_SETTINGS"
		description="COM_IMPRINT_OPTIONS_SETTINGS_DESC"
	>
		<field name="presentation_style"
			type="list"
			label="COM_IMPRINT_FIELD_PRESENTATION_LABEL"
			description="COM_IMPRINT_FIELD_PRESENTATION_DESC"
		>
			<option value="tabs">COM_IMPRINT_FIELD_VALUE_TABS</option>
			<option value="sliders">COM_IMPRINT_FIELD_VALUE_SLIDERS</option>
		</field>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules_component"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_imprint"
			section="component"
		/>
		<!-- TODO: Try to text code with new installation of component -->
		<!-- <field
			name="rules_imprint"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_imprint"
			section="imprint"
		/>
		<field
			name="rules_remark"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_imprint"
			section="remark"
		/> -->
	</fieldset>
</config>